@page
@model TD_WebApplication.Pages.etudiantsModel
@{
    ViewData["title"] = "privacy policy";
}
<h1>Liste des étudiants</h1>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>AGE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListeEtudiants)
        { 
            <tr>
                <td>
                    @item.Nom
                </td>
				<td>
					@item.Prenom
				</td>
                <td>
                    @item.AGE
                </td>
            </tr>
        }
    </tbody>

</table>